<?xml version="1.0"?>
<model>
    <name>omni_drive</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Prathamesh Mawale</name>
        <email>prathameshmawale@gmail.com</email>
    </author>
    <description>
    Example for Omni Drive Vehicle model
    </description>
</model>
